# Startup Config
API_ID = "26954495"
API_HASH = "2061c55207cfee4f106ff0dc331fe3d9"
BOT_TOKEN = "8111940661:AAGkpgtqoU0YWRtww7yT5uT006Ff3FVJ7h8"
AUTH_CHANNEL = "-1002817803749"
DATABASE = "mongodb+srv://Keshav:Keshav@cluster0.ndw3zfh.mongodb.net/?appName=Cluster0"
TMDB_API = "f9dbeb078807efcbb1e3a72cd80881b3"
IMDB_API = "https://imdbapi.kr562481.workers.dev/"

# SERVER
BASE_URL = "https://screeching-cherye-filmy4uhd-b60bef55.koyeb.app"  
PORT = "8000"

# Update
UPSTREAM_REPO = "https://github.com/keshav6606/filmsclub-backend"
UPSTREAM_BRANCH = "main"

# Additional CDN Bots
MULTI_TOKEN1 = "8063822502:AAErn_csLBm3WDjz9WxJ1rQ2nknB266Kc5I"
MULTI_TOKEN2 = "7983583418:AAENw2-qKmtvgBmccjyJ9WLAxxfvfT8u8qY"
MULTI_TOKEN3 = "7780823562:AAErFkElq5zDO1Loi0tO5jTPR6_aU1h8R5Y"
MULTI_TOKEN4 = "7581489777:AAGqSZInDI5W_Yewk2S4UruLeMGspmuEFDk"
MULTI_TOKEN5 = "8165507202:AAGvQRFVZnvnxZeyeRLJvty4PPCM06S8s0o"
MULTI_TOKEN6 = "7900124757:AAEifguhfIzjdx0wQuv405-8yoaQ4WM5eqk"
MULTI_TOKEN7 = "7389153676:AAGraXb6LUijtqscT86xUJcfEz-llXCvyWM"
MULTI_TOKEN8 = "7612765859:AAH6BFfYP9JV9V3mQsC-4n9jFo5gtWTdyus"
MULTI_TOKEN9 = "7594581650:AAF4xdJk5hp7EWWeRoCcGgc-f3UKpIBr8ho"


USE_CAPTION = "True"
USE_TMDB = "True"
OWNER_ID = "7045947967"
